/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../scss/constants";

md-card.tb-login-card {
  width: 330px !important;

  @media (min-width: $layout-breakpoint-sm) {
    width: 450px !important;
    }

  md-card-title {
    img.tb-login-logo {
      height: 50px;
      }
    }

  md-card-content {
    margin-top: -50px;
    }
  }
