<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-content layout="row" layout-align="center center" style="width: 100%;">
    <md-card flex="initial" class="tb-login-card" md-theme="tb-dark">
        <md-card-title>
            <md-card-title-text>
                <span translate class="md-headline">login.password-reset</span>
            </md-card-title-text>
        </md-card-title>
        <md-progress-linear class="md-warn" style="z-index: 1; max-height: 5px; width: inherit; position: absolute"
                            md-mode="indeterminate" ng-disabled="!$root.loading"
                            ng-show="$root.loading"></md-progress-linear>
        <md-card-content>
            <form class="password-reset-form" ng-submit="vm.resetPassword()">
                <div layout="column" layout-padding="" id="toast-parent">
                    <span style="height: 50px;"></span>
                    <md-input-container class="md-block">
                        <label translate>login.new-password</label>
                        <md-icon aria-label="{{ 'login.new-password' | translate }}" class="material-icons">
                            lock
                        </md-icon>
                        <input id="password-input" type="password" ng-model="vm.newPassword" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label translate>login.new-password-again</label>
                        <md-icon aria-label="{{ 'login.new-password-again' | translate }}" class="material-icons">
                            lock
                        </md-icon>
                        <input id="password-input2" type="password" ng-model="vm.newPassword2" />
                    </md-input-container>
                    <div layout="column" layout-gt-sm="row" layout-padding=""
                         layout-align="start center"
                         layout-align-gt-sm="center start">
                        <md-button class="md-raised md-accent" type="submit">{{ 'login.reset-password' | translate }}
                        </md-button>
                        <md-button class="md-raised" ui-sref="login">{{ 'action.cancel' | translate }}</md-button>
                    </div>
                </div>
            </form>
        </md-card-content>
    </md-card>
</md-content>
