<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-dialog aria-label="{{ vm.importTitle | translate }}">
    <form name="theForm" ng-submit="vm.importFromJson()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>{{ vm.importTitle }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <ng-md-icon icon="close" aria-label="{{ 'dialog.close' | translate }}"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear class="md-warn" md-mode="indeterminate" ng-disabled="!$root.loading"
                            ng-show="$root.loading"></md-progress-linear>
        <span style="min-height: 5px;" flex="" ng-show="!$root.loading"></span>
        <md-dialog-content>
            <div class="md-dialog-content">
                <fieldset ng-disabled="$root.loading">
                    <div layout="column" layout-padding>
                        <div class="tb-container">
                            <label class="tb-label" translate>{{ vm.importFileLabel }}</label>
                            <div flow-init="{singleFile:true}"
                                 flow-file-added="vm.fileAdded( $file )" class="tb-file-select-container">
                                <div class="tb-file-clear-container">
                                    <md-button ng-click="vm.clearFile()"
                                               class="tb-file-clear-btn md-icon-button md-primary"
                                               aria-label="{{ 'action.remove' | translate }}">
                                        <md-tooltip md-direction="top">
                                            {{ 'action.remove' | translate }}
                                        </md-tooltip>
                                        <md-icon aria-label="{{ 'action.remove' | translate }}" class="material-icons">
                                            close
                                        </md-icon>
                                    </md-button>
                                </div>
                                <div class="alert tb-flow-drop" flow-drop>
                                    <label for="select" translate>import.drop-file</label>
                                    <input class="file-input" flow-btn flow-attrs="{accept:'.json,application/json'}"
                                           id="select">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div ng-show="!vm.fileName" translate>import.no-file</div>
                            <div ng-show="vm.fileName">{{ vm.fileName }}</div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="$root.loading || !theForm.$dirty || !theForm.$valid || !vm.importData" type="submit"
                       class="md-raised md-primary">
                {{ 'action.import' | translate }}
            </md-button>
            <md-button ng-disabled="$root.loading" ng-click="vm.cancel()" style="margin-right:20px;">{{ 'action.cancel'
                                                                                                     | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
