/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.tb-aliases-dialog {
  .md-dialog-content {
    padding-top:    0;
    padding-bottom: 0;
    }

  .tb-aliases-header {
    min-height: 40px;
    padding:    0 34px 0 34px;
    margin:     5px;

    .tb-header-label {
      font-size: 14px;
      color:     rgba(0, 0, 0, .570588);
      }
    }

  .tb-alias {
    padding: 0 0 0 10px;
    margin:  5px;

    md-input-container {
      margin: 0;
      }

    .tb-resolve-multiple-switch {
      padding-left: 10px;

      .resolve-multiple-switch {
        margin: 0;
        }
      }

    .md-button {
      &.md-icon-button {
        margin: 0;
        }
      }
    }
  }
