<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-dialog aria-label="{{ 'attribute.add-widget-to-dashboard' | translate }}" style="min-width: 400px;">
    <form name="theForm" ng-submit="vm.add($event)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>attribute.add-widget-to-dashboard</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <ng-md-icon icon="close" aria-label="{{ 'dialog.close' | translate }}"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear class="md-warn" md-mode="indeterminate" ng-disabled="!$root.loading"
                            ng-show="$root.loading"></md-progress-linear>
        <span style="min-height: 5px;" flex="" ng-show="!$root.loading"></span>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content class="md-padding" layout="column">
                    <fieldset ng-disabled="$root.loading">
                        <md-radio-group ng-model="vm.addToDashboardType" class="md-primary">
                            <md-radio-button flex ng-value=0 class="md-primary md-align-top-left md-radio-interactive">
                                <section flex layout="column" style="width: 300px;">
                                    <span translate style="padding-bottom: 10px;">dashboard.select-existing</span>
                                    <tb-dashboard-autocomplete the-form="theForm"
                                                               ng-disabled="$root.loading || vm.addToDashboardType != 0"
                                                               tb-required="vm.addToDashboardType === 0"
                                                               ng-model="vm.dashboardId"
                                                               select-first-dashboard="false">
                                    </tb-dashboard-autocomplete>
                                </section>
                            </md-radio-button>
                            <md-radio-button flex ng-value=1 class="md-primary md-align-top-left md-radio-interactive">
                                <section flex layout="column" style="width: 300px;">
                                    <span translate>dashboard.create-new</span>
                                    <md-input-container class="md-block">
                                        <label translate>dashboard.new-dashboard-title</label>
                                        <input ng-required="vm.addToDashboardType === 1" name="title"
                                               ng-model="vm.newDashboard.title">
                                        <div ng-messages="theForm.title.$error">
                                            <div translate ng-message="required">dashboard.title-required</div>
                                        </div>
                                    </md-input-container>
                                </section>
                            </md-radio-button>
                        </md-radio-group>
                    </fieldset>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-checkbox
                    ng-model="vm.openDashboard"
                    aria-label="{{ 'dashboard.open-dashboard' | translate }}"
                    style="margin-bottom: 0px; padding-right: 20px;">
                {{ 'dashboard.open-dashboard' | translate }}
            </md-checkbox>
            <md-button ng-disabled="$root.loading || theForm.$invalid || !theForm.$dirty" type="submit"
                       class="md-raised md-primary">
                {{ 'action.add' | translate }}
            </md-button>
            <md-button ng-disabled="$root.loading" ng-click="vm.cancel()" style="margin-right:20px;">{{ 'action.cancel'
                                                                                                     |
                                                                                                     translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
