/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../../scss/constants";

$md-light: rgba(255, 255, 255, 100%) !default;
$md-edit-icon-fill: #757575 !default;

md-toolbar.md-table-toolbar.alternate {
  .md-toolbar-tools {
    md-icon {
      color: $md-light;
      }
    }
  }

.md-table {
  &.tb-attribute-table {
    table-layout: fixed;

    td.md-cell {
      &.tb-value-cell {
        overflow: auto;
        }
      }
    }

  .md-cell {
    ng-md-icon {
      float:  right;
      height: 16px;
      fill:   $md-edit-icon-fill;
      }
    }
  }

.widgets-carousel {
  position:   relative;
  height:     calc(100% - 100px);
  min-height: 150px !important;
  margin:     0;

  tb-dashboard {
    #gridster-parent {
      padding: 0 7px;
      }
    }
  }
