/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
$thumb-img: url("./svg/thumb.svg") !default;
$thumb-checked-img: url("./svg/thumb-checked.svg") !default;
$thumb-bar-img: url("./svg/thumb-bar.svg") !default;
$thumb-bar-checked-img: url("./svg/thumb-bar-checked.svg") !default;

$background-color: #E6E7E8 !default;

$error-height: 14px !default;

.tb-switch {
  width:      100%;
  height:     100%;
  background: $background-color;

  .error-container {
    position: absolute;
    top:      1%;
    right:    0;
    left:     0;
    z-index:  4;
    height:   $error-height;

    .switch-error {
      color:       #FF3315;
      white-space: nowrap;
      }
    }

  .onoff-container {
    height:      100%;
    font-weight: 500;
    color:       #757575;
    white-space: nowrap;

    .off-label {
      color: #B7B5B5;
      }

    .on-label {
      color:       #FF7E57;
      text-shadow: #FF6E4A 1px 1px 10px, #FFD1C3 1px 1px 10px;
      }
    }

  .title-container {
    .switch-title {
      font-weight: 500;
      color:       #757575;
      white-space: nowrap;
      }
    }

  #switch-container {
    padding-right: 10px;
    padding-left:  10px;
    }

  .switch {
    position: relative;

    md-switch {
      position: absolute;
      top:      0;
      right:    0;
      bottom:   0;
      left:     0;
      margin:   0;

      .md-container {
        margin: 0;
        }

      .md-bar {
        top:             0;
        left:            0;
        width:           100%;
        height:          100%;
        background:      $thumb-bar-img no-repeat;
        background-size: contain;
        border-radius:   0;
        }

      .md-thumb-container {
        top:    5%;
        left:   .25%;
        width:  50%;
        height: 90%;
        }

      .md-thumb {
        top:             0;
        left:            0;
        width:           100%;
        height:          100%;
        background:      $thumb-img no-repeat;
        background-size: contain;
        border-radius:   0;
        box-shadow:      none;
        }

      &.md-checked {
        .md-bar {
          background:      $thumb-bar-checked-img no-repeat;
          background-size: contain;
          }

        .md-thumb {
          background:      $thumb-checked-img no-repeat;
          background-size: contain;
          }
        }
      }
    }

  #text-measure {
    position:    absolute;
    width:       auto;
    height:      auto;
    white-space: nowrap;
    visibility:  hidden;
    }
  }
