<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-button ng-click="onExportDashboard({event: $event})"
           ng-show="!isEdit && dashboardScope === 'tenant'"
           class="md-raised md-primary">{{ 'dashboard.export' | translate }}
</md-button>
<md-button ng-click="onMakePublic({event: $event})"
           ng-show="!isEdit && dashboardScope === 'tenant' && !dashboard.publicCustomerId"
           class="md-raised md-primary">{{ 'dashboard.make-public' | translate }}
</md-button>
<md-button ng-click="onMakePrivate({event: $event})"
           ng-show="!isEdit && ((dashboardScope === 'tenant' && dashboard.publicCustomerId ||
		   						dashboardScope === 'customer' && customerId == dashboard.publicCustomerId))"
           class="md-raised md-primary">{{ 'dashboard.make-private' | translate }}
</md-button>
<md-button ng-click="onManageAssignedCustomers({event: $event})"
           ng-show="!isEdit && dashboardScope === 'tenant'"
           class="md-raised md-primary">{{ 'dashboard.manage-assigned-customers' | translate }}
</md-button>
<md-button ng-click="onUnassignFromCustomer({event: $event})"
           ng-show="!isEdit && dashboardScope === 'customer' && customerId != dashboard.publicCustomerId"
           class="md-raised md-primary">{{ 'dashboard.unassign-from-customer' | translate }}
</md-button>
<md-button ng-click="onDeleteDashboard({event: $event})"
           ng-show="!isEdit && dashboardScope === 'tenant'"
           class="md-raised md-primary">{{ 'dashboard.delete' | translate }}
</md-button>
<md-content class="md-padding" layout="column">
    <md-input-container class="md-block"
                        ng-show="!isEdit && dashboard.assignedCustomersText && dashboardScope === 'tenant'">
        <label translate>dashboard.assignedToCustomers</label>
        <input ng-model="dashboard.assignedCustomersText" disabled>
    </md-input-container>
    <div layout="column" ng-show="!isEdit && ((dashboardScope === 'tenant' && dashboard.publicCustomerId ||
		   						               dashboardScope === 'customer' && customerId == dashboard.publicCustomerId))">
        <tb-social-share-panel style="padding-bottom: 10px;"
                               share-title="{{ 'dashboard.socialshare-title' | translate:{dashboardTitle: dashboard.title} }}"
                               share-text="{{ 'dashboard.socialshare-text' | translate:{dashboardTitle: dashboard.title} }}"
                               share-link="{{ publicLink }}"
                               share-hash-tags="thingsboard, iot">
        </tb-social-share-panel>
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label translate>dashboard.public-link</label>
                <input ng-model="publicLink" disabled>
            </md-input-container>
            <md-button class="md-icon-button" style="margin-top: 14px;"
                       ngclipboard
                       data-clipboard-text="{{ publicLink }}"
                       ngclipboard-success="onPublicLinkCopied(e)">
                <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
                <md-tooltip md-direction="top">
                    {{ 'dashboard.copy-public-link' | translate }}
                </md-tooltip>
            </md-button>
        </div>
    </div>
    <fieldset ng-disabled="$root.loading || !isEdit">
        <md-input-container class="md-block">
            <label translate>dashboard.title</label>
            <input required name="title" ng-model="dashboard.title">
            <div ng-messages="theForm.title.$error">
                <div translate ng-message="required">dashboard.title-required</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label translate>dashboard.description</label>
            <textarea ng-model="dashboard.configuration.description" rows="2"></textarea>
        </md-input-container>
    </fieldset>
</md-content>
