/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "~compass-sass-mixins/lib/compass";
@import "../../scss/constants";

$toolbar-height: 50px !default;
$fullscreen-toolbar-height: 64px !default;
$mobile-toolbar-height: 84px !default;

section.tb-dashboard-title {
  position: absolute;
  top:      0;
  left:     20px;
  }

input.tb-dashboard-title {
  height:         38px;
  font-size:      2rem;
  font-weight:    500;
  letter-spacing: .005em;
  }

div.tb-padded {
  top: 60px;
  }

section.tb-padded {
  top: 60px;
  }

div.tb-shrinked {
  width: 40%;
  }

tb-details-sidenav.tb-widget-details-sidenav {
  md-sidenav.tb-sidenav-details {
    @media (min-width: $layout-breakpoint-sm) {
      width: 85% !important;
      }

    @media (min-width: $layout-breakpoint-md) {
      width: 75% !important;
      }

    @media (min-width: $layout-breakpoint-lg) {
      width: 60% !important;
      }
    }
  }

/***********************
 * dashboard toolbar
 ***********************/

section.tb-dashboard-toolbar {
  position:       absolute;
  top:            0;
  left:           0;
  z-index:        13;
  pointer-events: none;

  &.tb-dashboard-toolbar-opened {
    right: 0;
    // transition: right .3s cubic-bezier(.55, 0, .55, .2);
    }

  &.tb-dashboard-toolbar-closed {
    right:      18px;

    transition: right .3s cubic-bezier(.55, 0, .55, .2) .2s;
    }
  }

.tb-dashboard-container {
  &.tb-dashboard-toolbar-opened {
    &.is-fullscreen {
      margin-top: $mobile-toolbar-height;

      @media (min-width: $layout-breakpoint-sm) {
        margin-top: $fullscreen-toolbar-height;
        }
      }

    &:not(.is-fullscreen) {
      margin-top: $mobile-toolbar-height;

      @media (min-width: $layout-breakpoint-sm) {
        margin-top: $toolbar-height;
        }

      transition: margin-top .3s cubic-bezier(.55, 0, .55, .2);
      }
    }

  &.tb-dashboard-toolbar-closed {
    margin-top: 0;

    transition: margin-top .3s cubic-bezier(.55, 0, .55, .2) .2s;
    }

  .tb-dashboard-layouts {
    md-backdrop {
      z-index: 1;
      }

    #tb-right-layout {
      md-sidenav {
        z-index: 1;
        }
      }
    }
  }

/*****************************
 * dashboard powered by footer
 ****************************/

section.tb-powered-by-footer {
  position:       absolute;
  right:          25px;
  bottom:         5px;
  z-index:        30;
  pointer-events: none;

  span {
    font-size: 12px;

    a {
      font-weight:     700;
      text-decoration: none;
      pointer-events:  all;
      border:          none;
      }
    }
  }
