/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../scss/constants";

.extension-table {
  md-input-container .md-errors-spacer {
    min-height: 0;
    }

  /*
  &.tb-data-table table.md-table tbody tr td.tb-action-cell,
  &.tb-data-table table.md-table.md-row-select tbody tr td.tb-action-cell {
    width: 114px;
  }
  */

  .sync-widget {
    max-height: 90px;
    overflow:   hidden;
    }

  .toolbar-widget {
    min-height: 39px;
    max-height: 39px;
    }
  }

.extension__syncStatus--black {
  color: #000 !important;
  }

.extension__syncStatus--green {
  color: #228634 !important;
  }

.extension__syncStatus--red {
  color: #862222 !important;
  }
