<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-dialog class="extensionDialog" aria-label="{{ (vm.isAdd ? 'extension.add' : 'extension.edit' ) | translate }}">
    <form name="theForm" ng-submit="vm.save()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>{{ vm.isAdd ? 'extension.add' : 'extension.edit'}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <ng-md-icon icon="close" aria-label="{{ 'dialog.close' | translate }}"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-progress-linear class="md-warn" md-mode="indeterminate" ng-disabled="!$root.loading"
                            ng-show="$root.loading"></md-progress-linear>

        <span style="min-height: 5px;" flex="" ng-show="!$root.loading"></span>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content class="md-padding" layout="column">
                    <fieldset ng-disabled="$root.loading">
                        <section flex layout="row">
                            <md-input-container flex="60" class="md-block"
                                                md-is-error="theForm.extensionId.$touched && theForm.extensionId.$invalid">
                                <label translate>extension.extension-id</label>
                                <input required name="extensionId" ng-model="vm.extension.id"
                                       ng-change="vm.validateId()">
                                <div ng-messages="theForm.extensionId.$error">
                                    <div translate ng-message="required">extension.field-required</div>
                                    <div translate ng-message="uniqueIdValidation">extension.unique-id-required</div>
                                </div>
                            </md-input-container>

                            <md-input-container flex="40" class="md-block"
                                                md-is-error="theForm.extensionType.$touched && theForm.extensionType.$invalid">
                                <label translate>extension.extension-type</label>

                                <md-select ng-disabled="!vm.isAdd" required name="extensionType"
                                           ng-change="vm.extensionTypeChange()" ng-model="vm.extension.type">
                                    <md-option ng-repeat="(key,value) in vm.types.extensionType" ng-value="value">
                                        {{value}}
                                    </md-option>
                                </md-select>

                                <div ng-messages="theForm.extensionType.$error">
                                    <div translate ng-message="required">extension.field-required</div>
                                </div>
                            </md-input-container>
                        </section>
                        <div tb-extension-form-http config="vm.extension.configuration" is-add="vm.isAdd"
                             ng-if="vm.extension.type && vm.extension.type == vm.types.extensionType.http"></div>
                        <div tb-extension-form-mqtt config="vm.extension.configuration" is-add="vm.isAdd"
                             ng-if="vm.extension.type && vm.extension.type == vm.types.extensionType.mqtt"></div>
                        <div tb-extension-form-opc configuration="vm.extension.configuration"
                             ng-if="vm.extension.type && vm.extension.type == vm.types.extensionType.opc"></div>
                        <div tb-extension-form-modbus configuration="vm.extension.configuration"
                             ng-if="vm.extension.type && vm.extension.type == vm.types.extensionType.modbus"></div>
                    </fieldset>
                </md-content>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button type="submit"
                       class="md-raised md-primary"
            >
                {{ (vm.isAdd ? 'action.add' : 'action.save') | translate }}
            </md-button>

            <md-button ng-disabled="$root.loading" ng-click="vm.cancel()" style="margin-right:20px;">{{ 'action.cancel'
                                                                                                     | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
