<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div layout="row" width="100%" layout-wrap>
    <md-card flex-gt-sm="60" flex="100" style="height: 100%;">
        <md-card-title>
            <md-card-title-text>
                <span translate class="md-headline">admin.general-settings</span>
            </md-card-title-text>
        </md-card-title>
        <md-progress-linear md-mode="indeterminate" ng-disabled="!$root.loading"
                            ng-show="$root.loading"></md-progress-linear>
        <span style="min-height: 5px;" flex="" ng-show="!$root.loading"></span>
        <md-card-content>
            <form name="vm.settingsForm" ng-submit="vm.save()" tb-confirm-on-exit confirm-form="vm.settingsForm">
                <fieldset ng-disabled="$root.loading">
                    <md-input-container class="md-block">
                        <label translate>admin.base-url</label>
                        <input required name="baseUrl" ng-model="vm.settings.jsonValue.baseUrl">
                        <div ng-messages="vm.settingsForm.baseUrl.$error">
                            <div translate ng-message="required">admin.base-url-required</div>
                        </div>
                    </md-input-container>
                    <div layout="row" layout-align="end center" width="100%" layout-wrap>
                        <md-button ng-disabled="$root.loading || vm.settingsForm.$invalid || !vm.settingsForm.$dirty"
                                   type="submit" class="md-raised md-primary">{{'action.save' | translate}}
                        </md-button>
                    </div>
                </fieldset>
            </form>
        </md-card-content>
    </md-card>
</div>

