/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
$previewSize: 100px !default;

.tb-image-select-container {
  position: relative;
  width:    100%;
  height:   $previewSize;
  }

.tb-image-preview {
  width:      100%;
  max-width:  $previewSize;
  height:     100%;
  max-height: $previewSize;
  }

.tb-image-preview-container {
  position:       relative;
  float:          left;
  width:          $previewSize;
  height:         $previewSize;
  margin-right:   12px;
  vertical-align: top;
  border:         solid 1px;

  div {
    position:   absolute;
    top:        50%;
    left:       50%;
    width:      100%;
    font-size:  18px;
    text-align: center;
    transform:  translate(-50%, -50%);
    }
  }

.tb-dropzone {
  position:       relative;
  height:         $previewSize;
  padding:        0 8px;
  overflow:       hidden;
  vertical-align: top;
  border:         dashed 2px;

  div {
    position:   absolute;
    top:        50%;
    left:       50%;
    width:      100%;
    font-size:  24px;
    text-align: center;
    transform:  translate(-50%, -50%);
    }
  }

.tb-image-clear-container {
  position: relative;
  float:    right;
  width:    48px;
  height:   $previewSize;
  }

.tb-image-clear-btn {
  position:  absolute !important;
  top:       50%;
  transform: translate(0%, -50%) !important;
  }
