/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.json-form-ace-editor {
  position: relative;
  height:   100%;
  border:   1px solid #C0C0C0;

  .title-panel {
    position:    absolute;
    top:         10px;
    right:       20px;
    z-index:     5;
    font-size:   .8rem;
    font-weight: 500;

    label {
      padding:        4px;
      color:          #00ACC1;
      text-transform: uppercase;
      background:     rgba(220, 220, 220, .35);
      border-radius:  5px;
      }

    button.tidy-button {
      background: rgba(220, 220, 220, .35) !important;

      span {
        padding:   0 !important;
        font-size: 12px !important;
        }
      }
    }
  }
