<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-dialog class="dashboard-state" aria-label="{{'dashboard.state' | translate }}" style="min-width: 600px;">
    <form name="theForm" ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ (vm.isAdd ? 'dashboard.add-state' : 'dashboard.edit-state') | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <ng-md-icon icon="close" aria-label="{{ 'action.close' | translate }}"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear class="md-warn" md-mode="indeterminate" ng-disabled="!$root.loading"
                            ng-show="$root.loading"></md-progress-linear>
        <span style="min-height: 5px;" flex="" ng-show="!$root.loading"></span>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content class="md-padding" layout="column">
                    <fieldset ng-disabled="$root.loading">
                        <md-input-container class="md-block">
                            <label translate>dashboard.state-name</label>
                            <input name="name" required ng-model="vm.state.name">
                            <div ng-messages="theForm.name.$error">
                                <div ng-message="required" translate>dashboard.state-name-required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>dashboard.state-id</label>
                            <input name="stateId" required ng-model="vm.state.id"
                                   ng-change="vm.stateIdTouched = true">
                            <div ng-messages="theForm.stateId.$error">
                                <div ng-message="required" translate>dashboard.state-id-required</div>
                                <div ng-message="stateExists" translate>dashboard.state-id-exists</div>
                            </div>
                        </md-input-container>
                        <md-checkbox flex aria-label="{{ 'dashboard.is-root-state' | translate }}"
                                     ng-model="vm.state.root">{{ 'dashboard.is-root-state' | translate }}
                        </md-checkbox>
                    </fieldset>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="$root.loading || theForm.$invalid || !theForm.$dirty" type="submit"
                       class="md-raised md-primary">
                {{ (vm.isAdd ? 'action.add' : 'action.save') | translate }}
            </md-button>
            <md-button ng-disabled="$root.loading" ng-click="vm.cancel()" style="margin-right:20px;">
                {{ 'action.cancel' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
