/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../../scss/constants";

tb-states-component {
  min-width: 0;
  }

.entity-state-controller {
  .state-divider {
    padding-right:  15px;
    padding-left:   15px;
    overflow:       hidden;
    font-size:      18px;
    text-overflow:  ellipsis;
    white-space:    nowrap;
    pointer-events: none;
    }

  .state-entry {
    overflow:      hidden;
    font-size:     18px;
    text-overflow: ellipsis;
    white-space:   nowrap;
    outline:       none;
    }

  md-select {
    margin: 0;

    .md-text {
      font-size:   18px;
      font-weight: 700;
      }
    }
  }
