<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-dialog aria-label="{{ 'user.activation-link' | translate }}" style="min-width: 400px;">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate="user.activation-link"></h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.close()">
                    <ng-md-icon icon="close" aria-label="{{ 'dialog.close' | translate }}"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div id="activation-link-dialog-content" class="md-dialog-content">
                <md-content class="md-padding" layout="column">
                    <span translate="user.activation-link-text"
                          translate-values="{activationLink: vm.activationLink}"></span>
                    <div layout="row" layout-align="start center">
                        <pre class="tb-highlight" flex><code>{{ vm.activationLink }}</code></pre>
                        <md-button class="md-icon-button"
                                   ngclipboard
                                   data-clipboard-text="{{ vm.activationLink }}"
                                   ngclipboard-success="vm.onActivationLinkCopied(e)">
                            <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
                            <md-tooltip md-direction="top">
                                {{ 'user.copy-activation-link' | translate }}
                            </md-tooltip>
                        </md-button>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.close()">{{ 'action.ok' |
                                             translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
