<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<section flex layout='column' class="tb-entity-type-list">
    <md-chips readonly="disabled"
              id="entity_type_list_chips"
              ng-required="tbRequired"
              ng-model="entityTypeList"
              placeholder="{{placeholder}}"
              secondary-placeholder="{{secondaryPlaceholder}}"
              md-autocomplete-snap
              md-require-match="true">
        <md-autocomplete
                md-no-cache="true"
                id="entityType"
                md-selected-item="selectedEntityType"
                md-search-text="entityTypeSearchText"
                md-items="item in fetchEntityTypes(entityTypeSearchText)"
                md-item-text="item.name"
                md-min-length="0"
                placeholder="{{ (!entityTypeList || !entityTypeList.length) ? placeholder : secondaryPlaceholder }}">
            <md-item-template>
                <span md-highlight-text="entityTypeSearchText" md-highlight-flags="^i">{{item.name}}</span>
            </md-item-template>
            <md-not-found>
                <span translate
                      translate-values='{ entityType: entityTypeSearchText }'>entity.no-entity-types-matching</span>
            </md-not-found>
        </md-autocomplete>
        <md-chip-template>
            <span>
                <strong>{{$chip.name}}</strong>
            </span>
        </md-chip-template>
    </md-chips>
    <div class="tb-error-messages" ng-messages="ngModelCtrl.$error" ng-if="inputTouched && tbRequired" role="alert">
        <div translate ng-message="entityTypeList" class="tb-error-message">entity.entity-type-list-empty</div>
    </div>
</section>
