/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.tb-entity-filter-view {
  .entity-filter-empty {
    font-size:   14px;
    line-height: 16px;
    color:       rgba(221, 44, 0, .87);
    }

  .entity-filter-type {
    font-size:   14px;
    line-height: 16px;
    color:       rgba(0, 0, 0, .570588);
    }

  .entity-filter-value {
    font-size:   14px;
    line-height: 16px;
    color:       rgba(0, 0, 0, .570588);
    }
  }
