<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-content style="position: relative; width: 100%; height: 100%;"
            ng-style="{'background-color': vm.layoutCtx.gridSettings.backgroundColor,
                    'background-image': 'url('+vm.layoutCtx.gridSettings.backgroundImageUrl+')',
                    'background-repeat': 'no-repeat',
                    'background-attachment': 'scroll',
                    'background-size': vm.layoutCtx.gridSettings.backgroundSizeMode || '100%',
                    'background-position': '0% 0%'}">
    <section ng-show="!$root.loading && vm.noData()" layout-align="center center"
             ng-style="{'color': vm.layoutCtx.gridSettings.color}"
             style="text-transform: uppercase; display: flex; z-index: 1; pointer-events: none;"
             class="md-headline tb-absolute-fill">
            <span translate ng-if="!vm.isEdit">
                dashboard.no-widgets
            </span>
        <md-button ng-if="vm.isEdit && !vm.widgetEditMode" class="tb-add-new-widget"
                   ng-click="vm.addWidget({event: $event})">
            <md-icon aria-label="{{ 'action.add' | translate }}" class="material-icons tb-md-96">add</md-icon>
            {{ 'dashboard.add-widget' | translate }}
        </md-button>
    </section>
    <tb-dashboard
            dashboard-style="{'background-color': vm.layoutCtx.gridSettings.backgroundColor,
                            'background-image': 'url('+vm.layoutCtx.gridSettings.backgroundImageUrl+')',
                            'background-repeat': 'no-repeat',
                            'background-attachment': 'scroll',
                            'background-size': vm.layoutCtx.gridSettings.backgroundSizeMode || '100%',
                            'background-position': '0% 0%'}"
            widgets="vm.layoutCtx.widgets"
            widget-layouts="vm.layoutCtx.widgetLayouts"
            columns="vm.layoutCtx.gridSettings.columns"
            margins="vm.layoutCtx.gridSettings.margins"
            alias-controller="vm.dashboardCtx.aliasController"
            state-controller="vm.dashboardCtx.stateController"
            dashboard-timewindow="vm.dashboardCtx.dashboardTimewindow"
            is-edit="vm.isEdit"
            autofill-height="vm.layoutCtx.gridSettings.autoFillHeight && !vm.isEdit"
            mobile-autofill-height="vm.layoutCtx.gridSettings.mobileAutoFillHeight && !vm.isEdit"
            mobile-row-height="vm.layoutCtx.gridSettings.mobileRowHeight"
            is-mobile="vm.isMobile"
            is-mobile-disabled="vm.widgetEditMode"
            is-edit-action-enabled="vm.isEdit"
            is-export-action-enabled="vm.isEdit && !vm.widgetEditMode"
            is-remove-action-enabled="vm.isEdit && !vm.widgetEditMode"
            on-edit-widget="vm.editWidget(event, widget)"
            on-export-widget="vm.exportWidget(event, widget)"
            on-widget-mouse-down="vm.widgetMouseDown(event, widget)"
            on-widget-clicked="vm.widgetClicked(event, widget)"
            prepare-dashboard-context-menu="vm.prepareDashboardContextMenu()"
            prepare-widget-context-menu="vm.prepareWidgetContextMenu(widget)"
            on-remove-widget="vm.removeWidget(event, widget)"
            on-init="vm.dashboardInited(dashboard)"
            on-init-failed="vm.dashboardInitFailed(e)"
            ignore-loading="vm.layoutCtx.ignoreLoading">
    </tb-dashboard>
</md-content>
