<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-dialog aria-label="{{ 'layout.manage' | translate }}">
    <form name="theForm" ng-submit="vm.save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>{{ 'layout.manage' }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <ng-md-icon icon="close" aria-label="{{ 'dialog.close' | translate }}"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear class="md-warn" md-mode="indeterminate" ng-disabled="!$root.loading"
                            ng-show="$root.loading"></md-progress-linear>
        <span style="min-height: 5px;" flex="" ng-show="!$root.loading"></span>
        <md-dialog-content>
            <div class="md-dialog-content">
                <fieldset ng-disabled="$root.loading">
                    <div layout="row" layout-align="start center">
                        <md-checkbox ng-disabled="true" flex aria-label="{{ 'layout.main' | translate }}"
                                     ng-model="vm.displayLayouts.main">{{ 'layout.main' | translate }}
                        </md-checkbox>
                        <md-checkbox flex aria-label="{{ 'layout.right' | translate }}"
                                     ng-model="vm.displayLayouts.right">{{ 'layout.right' | translate }}
                        </md-checkbox>
                    </div>
                    <div layout="row" layout-align="start center">
                        <md-button flex ng-show="vm.displayLayouts.main"
                                   class="tb-layout-button md-raised md-primary" layout="column"
                                   ng-click="vm.openLayoutSettings($event, 'main')">
                            <span translate>layout.main</span>
                        </md-button>
                        <md-button flex ng-show="vm.displayLayouts.right"
                                   class="tb-layout-button md-raised md-primary" layout="column"
                                   ng-click="vm.openLayoutSettings($event, 'right')">
                            <span translate>layout.right</span>
                        </md-button>
                    </div>
                </fieldset>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="$root.loading || !theForm.$dirty || !theForm.$valid" type="submit"
                       class="md-raised md-primary">
                {{ 'action.save' | translate }}
            </md-button>
            <md-button ng-disabled="$root.loading" ng-click="vm.cancel()" style="margin-right:20px;">{{ 'action.cancel'
                                                                                                     | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
