/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../../scss/constants";
@import "~compass-sass-mixins/lib/compass";

md-dialog.tb-node-script-test-dialog {
  &.md-dialog-fullscreen {
    width:         100%;
    min-width:     100%;
    max-width:     100%;
    height:        100%;
    min-height:    100%;
    max-height:    100%;
    border-radius: 0;
    }

  .tb-split {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    }

  .ace_editor {
    font-size: 14px !important;
    }

  .tb-content {
    padding-top:  5px;
    padding-left: 5px;
    border:       1px solid #C0C0C0;
    }

  .gutter {
    background-color:    #EEE;

    background-repeat:   no-repeat;
    background-position: 50%;
    }

  .gutter.gutter-horizontal {
    cursor:           col-resize;
    background-image: url("../../../../node_modules/split.js/grips/vertical.png");
    }

  .gutter.gutter-vertical {
    cursor:           row-resize;
    background-image: url("../../../../node_modules/split.js/grips/horizontal.png");
    }

  .tb-split.tb-split-horizontal,
  .gutter.gutter-horizontal {
    float:  left;
    height: 100%;
    }

  .tb-split.tb-split-vertical {
    display: flex;

    .tb-split.tb-content {
      height: 100%;
      }
    }

  div.tb-editor-area-title-panel {
    position:    absolute;
    top:         13px;
    right:       40px;
    z-index:     5;
    font-size:   .8rem;
    font-weight: 500;

    &.tb-js-function {
      right: 80px;
      }

    label {
      padding:        4px;
      color:          #00ACC1;
      text-transform: uppercase;
      background:     rgba(220, 220, 220, .35);
      border-radius:  5px;
      }

    .md-button {
      min-width:   32px;
      min-height:  15px;
      padding:     4px;
      margin:      0;
      font-size:   .8rem;
      line-height: 15px;
      color:       #7B7B7B;
      background:  rgba(220, 220, 220, .35);
      }
    }

  .tb-resize-container {
    position:   relative;
    width:      100%;
    height:     100%;
    overflow-y: auto;

    .ace_editor {
      height: 100%;
      }
    }
  }
