<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-dialog style="width: 800px;" aria-label="{{ 'widget.select-widget-type' | translate }}">
    <form name="theForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>widget.select-widget-type</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <ng-md-icon icon="close" aria-label="{{ 'dialog.close' | translate }}"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear class="md-warn" md-mode="indeterminate" ng-disabled="!$root.loading"
                            ng-show="$root.loading"></md-progress-linear>
        <span style="min-height: 5px;" flex="" ng-show="!$root.loading"></span>
        <md-dialog-content>
            <div class="md-dialog-content">
                <fieldset ng-disabled="$root.loading">
                    <div layout="column" layout-gt-sm="row" layout-align="center center">
                        <md-button class="tb-card-button md-raised md-primary" layout="column"
                                   ng-click="vm.typeSelected(vm.types.widgetType.timeseries.value)">
                            <md-icon class="material-icons tb-md-96"
                                     aria-label="{{ vm.types.widgetType.timeseries.name | translate }}">
                                timeline
                            </md-icon>
                            <span translate>{{vm.types.widgetType.timeseries.name}}</span>
                        </md-button>
                        <md-button class="tb-card-button md-raised md-primary" layout="column"
                                   ng-click="vm.typeSelected(vm.types.widgetType.latest.value)">
                            <md-icon class="material-icons tb-md-96"
                                     aria-label="{{ vm.types.widgetType.latest.name | translate }}">track_changes
                            </md-icon>
                            <span translate>{{vm.types.widgetType.latest.name}}</span>
                        </md-button>
                        <md-button class="tb-card-button md-raised md-primary" layout="column"
                                   ng-click="vm.typeSelected(vm.types.widgetType.rpc.value)">
                            <md-icon class="material-icons tb-md-96"
                                     aria-label="{{ vm.types.widgetType.rpc.name | translate }}"
                                     md-svg-icon="mdi:developer-board">
                            </md-icon>
                            <span translate>{{vm.types.widgetType.rpc.name}}</span>
                        </md-button>
                        <md-button class="tb-card-button md-raised md-primary" layout="column"
                                   ng-click="vm.typeSelected(vm.types.widgetType.alarm.value)">
                            <md-icon class="material-icons tb-md-96"
                                     aria-label="{{ vm.types.widgetType.alarm.name | translate }}">error
                            </md-icon>
                            <span translate>{{vm.types.widgetType.alarm.name}}</span>
                        </md-button>
                        <md-button class="tb-card-button md-raised md-primary" layout="column"
                                   ng-click="vm.typeSelected(vm.types.widgetType.static.value)">
                            <md-icon class="material-icons tb-md-96"
                                     aria-label="{{ vm.types.widgetType.static.name | translate }}">font_download
                            </md-icon>
                            <span translate>{{vm.types.widgetType.static.name}}</span>
                        </md-button>
                    </div>
                </fieldset>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="$root.loading" ng-click="vm.cancel()" style="margin-right:20px;">{{ 'action.cancel'
                                                                                                     |
                                                                                                     translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
