<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<section ng-show="!$root.loading && vm.noData()" layout-align="center center"
         style="text-transform: uppercase; display: flex; z-index: 1;"
         class="md-headline tb-absolute-fill">
    <md-button ng-if="!vm.isReadOnly()" class="tb-add-new-widget" ng-click="vm.addWidgetType($event)">
        <md-icon aria-label="{{ 'action.add' | translate }}" class="material-icons tb-md-96">add</md-icon>
        {{ 'widget.add-widget-type' | translate }}
    </md-button>
    <span translate ng-if="vm.isReadOnly()"
          layout-align="center center"
          style="text-transform: uppercase; display: flex;"
          class="md-headline tb-absolute-fill">widgets-bundle.empty</span>
</section>
<tb-dashboard
        alias-controller="vm.aliasController"
        widgets="vm.widgetTypes"
        is-edit="false"
        is-edit-action-enabled="true"
        is-export-action-enabled="true"
        is-remove-action-enabled="!vm.isReadOnly()"
        on-edit-widget="vm.openWidgetType(event, widget)"
        on-export-widget="vm.exportWidgetType(event, widget)"
        on-remove-widget="vm.removeWidgetType(event, widget)"
        load-widgets="vm.loadWidgetLibrary()"
        on-init="vm.dashboardInited(dashboard)"
        on-init-failed="vm.dashboardInitFailed(e)">
</tb-dashboard>
<section layout="row" layout-wrap class="tb-footer-buttons md-fab ">
    <md-fab-speed-dial ng-disabled="$root.loading" ng-show="!vm.isReadOnly()"
                       md-open="vm.addItemActionsOpen" class="md-scale" md-direction="up">
        <md-fab-trigger>
            <md-button ng-disabled="$root.loading"
                       class="tb-btn-footer md-accent md-hue-2 md-fab"
                       aria-label="{{ 'widget.add-widget-type' | translate }}">
                <md-tooltip md-direction="top">
                    {{ 'widget.add-widget-type' | translate }}
                </md-tooltip>
                <ng-md-icon icon="add"></ng-md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button ng-disabled="$root.loading"
                       class="tmd-accent md-hue-2 md-fab" ng-click="vm.addWidgetType($event)"
                       aria-label="{{ 'action.create' | translate }}">
                <md-tooltip md-direction="top">
                    {{ 'widget-type.create-new-widget-type' | translate }}
                </md-tooltip>
                <ng-md-icon icon="insert_drive_file"></ng-md-icon>
            </md-button>
            <md-button ng-disabled="$root.loading"
                       class="tmd-accent md-hue-2 md-fab" ng-click="vm.importWidgetType($event)"
                       aria-label="{{ 'action.import' | translate }}">
                <md-tooltip md-direction="top">
                    {{ 'widget-type.import' | translate }}
                </md-tooltip>
                <ng-md-icon icon="file_upload"></ng-md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</section>
