<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-button ng-click="onExportWidgetsBundle({event: $event})"
           ng-show="!isEdit"
           class="md-raised md-primary">{{ 'widgets-bundle.export' | translate }}
</md-button>
<md-button ng-click="onDeleteWidgetsBundle({event: $event})"
           ng-show="!isEdit && !isReadOnly"
           class="md-raised md-primary">{{ 'widgets-bundle.delete' | translate }}
</md-button>

<md-content class="md-padding" layout="column">
    <fieldset ng-disabled="$root.loading || !isEdit">
        <md-input-container class="md-block">
            <label translate>widgets-bundle.title</label>
            <input required name="title" ng-model="widgetsBundle.title">
            <div ng-messages="theForm.title.$error">
                <div translate ng-message="required">widgets-bundle.title-required</div>
            </div>
        </md-input-container>
    </fieldset>
</md-content>
