/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "~sass-material-colors/sass/sass-material-colors";

// Colors

$gray: #EEE !default;

$primary-palette-color: "indigo" !default;
$default: "500" !default;
$hue-1: "300" !default;
$hue-2: "800" !default;
$hue-3: "a100" !default;

$primary-default: #305680 !default; //material-color($primary-palette-color, $default);
$primary-hue-1: material-color($primary-palette-color, $hue-1) !default;
$primary-hue-2: material-color($primary-palette-color, $hue-2) !default;
$primary-hue-3: rgb(207, 216, 220) !default;

// Layout

$layout-breakpoint-xs: 600px !default;
$layout-breakpoint-sm: 960px !default;
$layout-breakpoint-md: 1280px !default;
$layout-breakpoint-xmd: 1600px !default;
$layout-breakpoint-lg: 1920px !default;

$layout-breakpoint-gt-xs: 601px !default;
$layout-breakpoint-gt-sm: 961px !default;
$layout-breakpoint-gt-md: 1281px !default;
$layout-breakpoint-gt-xmd: 1601px !default;
$layout-breakpoint-gt-lg: 1921px !default;
