/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "~compass-sass-mixins/lib/compass";

/* stylelint-disable selector-no-vendor-prefix */
@mixin input-placeholder {
  // replaces compass/css/user-interface/input-placeholder()

  &::-webkit-input-placeholder {
    @content;
    }

  &:-moz-placeholder {
    @content;
    opacity: 1;
    }

  &::-moz-placeholder {
    @content;
    opacity: 1;
    }

  &:-ms-input-placeholder {
    @content;
    }
  }

/* stylelint-enable selector-no-vendor-prefix */

@mixin line-clamp($numLines: 1, $lineHeight: 1.412) {
  position:      relative;
  max-height:    ($numLines * $lineHeight * 1em);
  padding-right: 2em;
  margin-right:  -1em;
  overflow:      hidden;
  line-height:   $lineHeight;
  text-align:    justify;

  &::before {
    position: absolute;
    right:    1em;
    bottom:   0;
    content:  "...";
    }

  &::after {
    position:   absolute;
    right:      1em;
    width:      1em;
    height:     1em;
    margin-top: .2em;
    content:    "";
    background: #FFF;
    }
  }
