/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.tb-alarm-status-filter-panel {
  min-width:     300px;
  overflow:      hidden;
  background:    #FFF;
  border-radius: 4px;
  box-shadow:    0 7px 8px -4px rgba(0, 0, 0, .2),
                 0 13px 19px 2px rgba(0, 0, 0, .14),
                 0 5px 24px 4px rgba(0, 0, 0, .12);

  md-content {
    overflow:         hidden;
    background-color: #FFF;
    }
  }
