<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<div class="tb-absolute-fill tb-alarms-table tb-data-table" layout="column">
    <div ng-show="vm.showData" flex class="tb-absolute-fill" layout="column">
        <md-toolbar class="md-table-toolbar md-default" ng-show="!vm.selectedAlarms.length &&
                                                                  vm.query.search != null">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="{{ 'action.search' | translate }}">
                    <md-icon aria-label="{{ 'action.search' | translate }}" class="material-icons">search</md-icon>
                    <md-tooltip md-direction="{{vm.ctx.dashboard.isWidgetExpanded ? 'bottom' : 'top'}}">
                        {{'alarm.search' | translate}}
                    </md-tooltip>
                </md-button>
                <md-input-container flex>
                    <label>&nbsp;</label>
                    <input ng-model="vm.query.search" class="searchInput"
                           placeholder="{{'alarm.search' | translate}}" />
                </md-input-container>
                <md-button class="md-icon-button" aria-label="Close" ng-click="vm.exitFilterMode()">
                    <md-icon aria-label="Close" class="material-icons">close</md-icon>
                    <md-tooltip md-direction="{{vm.ctx.dashboard.isWidgetExpanded ? 'bottom' : 'top'}}">
                        {{ 'action.close' | translate }}
                    </md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar alternate" ng-show="vm.selectedAlarms.length">
            <div class="md-toolbar-tools">
                <span translate="alarm.selected-alarms"
                      translate-values="{count: vm.selectedAlarms.length}"
                      translate-interpolation="messageformat"></span>
                <span flex></span>
                <md-button ng-if="vm.allowAcknowledgment" class="md-icon-button" ng-click="vm.ackAlarms($event)">
                    <md-icon>done</md-icon>
                    <md-tooltip md-direction="{{vm.ctx.dashboard.isWidgetExpanded ? 'bottom' : 'top'}}">
                        {{ 'alarm.acknowledge' | translate }}
                    </md-tooltip>
                </md-button>
                <md-button ng-if="vm.allowClear" class="md-icon-button" ng-click="vm.clearAlarms($event)">
                    <md-icon>clear</md-icon>
                    <md-tooltip md-direction="{{vm.ctx.dashboard.isWidgetExpanded ? 'bottom' : 'top'}}">
                        {{ 'alarm.clear' | translate }}
                    </md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-table-container flex>
            <table md-table md-row-select="vm.enableSelection" multiple="" ng-model="vm.selectedAlarms">
                <thead md-head md-order="vm.query.order" md-on-reorder="vm.onReorder">
                <tr md-row>
                    <th ng-if="key.display" md-column md-order-by="{{ key.name }}"
                        ng-repeat="key in vm.alarmSource.dataKeys"><span>{{ key.title }}</span></th>
                    <th md-column class="tb-action-cell" layout="row" layout-align="end center">
                        <md-button class="md-icon-button"
                                   aria-label="{{'alarm.alarm-status-filter' | translate}}"
                                   ng-click="vm.editAlarmStatusFilter($event)">
                            <md-icon aria-label="{{'alarm.alarm-status-filter' | translate}}"
                                     class="material-icons">filter_list
                            </md-icon>
                            <md-tooltip md-direction="top">
                                {{'alarm.alarm-status-filter' | translate}}
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button"
                                   aria-label="{{'entity.columns-to-display' | translate}}"
                                   ng-click="vm.editColumnsToDisplay($event)">
                            <md-icon aria-label="{{'entity.columns-to-display' | translate}}"
                                     class="material-icons">view_column
                            </md-icon>
                            <md-tooltip md-direction="top">
                                {{'entity.columns-to-display' | translate}}
                            </md-tooltip>
                        </md-button>
                    </th>
                </tr>
                </thead>
                <tbody md-body>
                <tr ng-show="vm.alarms.length" md-row md-select="alarm"
                    md-select-id="id.id" md-auto-select="false" ng-repeat="alarm in vm.alarms"
                    ng-click="vm.onRowClick($event, alarm)" ng-class="{'tb-current': vm.isCurrent(alarm)}">
                    <td ng-if="key.display" md-cell flex ng-repeat="key in vm.alarmSource.dataKeys"
                        ng-style="vm.cellStyle(alarm, key)"
                        ng-bind-html="vm.cellContent(alarm, key)">
                    </td>
                    <td md-cell class="tb-action-cell"
                        ng-style="{minWidth: vm.actionCellDescriptors.length*36+'px',
                                   maxWidth: vm.actionCellDescriptors.length*36+'px',
                                   width: vm.actionCellDescriptors.length*36+'px'}">
                        <md-button class="md-icon-button" ng-repeat="actionDescriptor in vm.actionCellDescriptors"
                                   ng-disabled="!vm.actionEnabled(alarm, actionDescriptor)"
                                   aria-label="{{ actionDescriptor.displayName }}"
                                   ng-click="vm.onActionButtonClick($event, alarm, actionDescriptor)"
                                   ng-disabled="$root.loading">
                            <md-icon aria-label="{{ actionDescriptor.displayName }}" class="material-icons">
                                {{actionDescriptor.icon}}
                            </md-icon>
                            <md-tooltip md-direction="top">
                                {{ actionDescriptor.displayName }}
                            </md-tooltip>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
            <md-divider></md-divider>
            <span ng-show="!vm.alarms.length"
                  layout-align="center center"
                  class="no-data-found" translate>alarm.no-alarms-prompt</span>
        </md-table-container>
        <md-table-pagination ng-if="vm.displayPagination" md-boundary-links md-limit="vm.query.limit"
                             md-limit-options="vm.limitOptions"
                             md-page="vm.query.page" md-total="{{vm.alarmsCount}}"
                             md-on-paginate="vm.onPaginate" md-page-select="vm.isGtMd">
        </md-table-pagination>
    </div>
    <span ng-show="!vm.showData"
          layout-align="center center"
          style="text-transform: uppercase; display: flex;"
          class="tb-absolute-fill" translate>alarm.no-data</span>
</div>
