/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.tb-has-timewindow {
  .tb-entities-table {
    md-toolbar {
      min-height: 60px;
      max-height: 60px;

      &.md-table-toolbar {
        .md-toolbar-tools {
          max-height: 60px;
          }
        }
      }
    }
  }

.tb-entities-table {
  md-toolbar {
    min-height: 39px;
    max-height: 39px;

    &.md-table-toolbar {
      .md-toolbar-tools {
        max-height: 39px;
        }
      }
    }

  &.tb-data-table {
    table.md-table,
    table.md-table.md-row-select {
      th.md-column {
        &.tb-action-cell {
          .md-button {
            /* stylelint-disable-next-line selector-max-class */
            &.md-icon-button {
              width:   36px;
              height:  36px;
              padding: 6px;
              margin:  0;
              /* stylelint-disable-next-line selector-max-class */
              md-icon {
                width:       24px;
                height:      24px;
                font-size:   24px !important;
                line-height: 24px !important;
                }
              }
            }
          }
        }

      tbody {
        tr {
          td {
            &.tb-action-cell {
              width:     36px;
              min-width: 36px;
              max-width: 36px;

              .md-button[disabled] {
                &.md-icon-button {
                  /* stylelint-disable-next-line selector-max-class */
                  md-icon {
                    color: rgba(0, 0, 0, .38);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
