/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

md-toast.tb-info-toast .md-toast-content {
  height:     100%;
  max-height: 100%;
  padding:    18px;
  font-size:  18px;
  }

md-toast.tb-success-toast .md-toast-content {
  height:           100%;
  max-height:       100%;
  font-size:        18px !important;
  background-color: #008000;
  }

md-toast.tb-error-toast .md-toast-content {
  height:           100%;
  max-height:       100%;
  font-size:        18px !important;
  background-color: #800000;
  }
