/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../scss/constants";

.tb-entity-view-panel-group {
  .tb-panel-title {
    min-width:   90px;
    user-select: none;

    @media (min-width: $layout-breakpoint-sm) {
      min-width: 180px;
      }
    }

  .tb-panel-prompt {
    overflow:      hidden;
    font-size:     14px;
    color:         rgba(0, 0, 0, .87);
    text-overflow: ellipsis;
    white-space:   nowrap;
    }

  &.disabled {
    .tb-panel-title,
    .tb-panel-prompt {
      color: rgba(0, 0, 0, .38);
      }
    }

  md-icon.md-expansion-panel-icon {
    margin-right: 0;
    }
  }
