<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-button ng-click="onMakePublic({event: $event})"
           ng-show="!isEdit && entityViewScope === 'tenant' && !isAssignedToCustomer && !isPublic"
           class="md-raised md-primary">{{ 'entity-view.make-public' | translate }}
</md-button>
<md-button ng-click="onAssignToCustomer({event: $event})"
           ng-show="!isEdit && entityViewScope === 'tenant' && !isAssignedToCustomer"
           class="md-raised md-primary">{{ 'entity-view.assign-to-customer' | translate }}
</md-button>
<md-button ng-click="onUnassignFromCustomer({event: $event})"
           ng-show="!isEdit && (entityViewScope === 'customer' || entityViewScope === 'tenant') && isAssignedToCustomer"
           class="md-raised md-primary">{{'entity-view.unassign-from-customer' | translate }}
</md-button>
<md-button ng-click="onDeleteEntityView({event: $event})"
           ng-show="!isEdit && entityViewScope === 'tenant'"
           class="md-raised md-primary">{{ 'entity-view.delete' | translate }}
</md-button>

<div layout="row">
    <md-button ngclipboard data-clipboard-action="copy"
               ngclipboard-success="onEntityViewIdCopied(e)"
               data-clipboard-text="{{entityView.id.id}}" ng-show="!isEdit"
               class="md-raised">
        <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
        <span translate>entity-view.copyId</span>
    </md-button>
</div>

<md-content class="md-padding" layout="column">
    <md-input-container class="md-block"
                        ng-show="!isEdit && isAssignedToCustomer && entityViewScope === 'tenant'">
        <label translate>entity-view.assignedToCustomer</label>
        <input ng-model="assignedCustomer.title" disabled>
    </md-input-container>
    <fieldset ng-disabled="$root.loading || !isEdit">
        <md-input-container class="md-block">
            <label translate>entity-view.name</label>
            <input required name="name" ng-model="entityView.name">
            <div ng-messages="theForm.name.$error">
                <div translate ng-message="required">entity-view.name-required</div>
            </div>
        </md-input-container>
        <tb-entity-subtype-autocomplete
                ng-disabled="$root.loading || !isEdit"
                tb-required="true"
                the-form="theForm"
                ng-model="entityView.type"
                entity-type="types.entityType.entityView">
        </tb-entity-subtype-autocomplete>
        <section layout="column">
            <label translate class="tb-title no-padding">entity-view.target-entity</label>
            <tb-entity-select flex ng-disabled="!isEdit"
                              the-form="theForm"
                              tb-required="true"
                              allowed-entity-types="allowedEntityTypes"
                              ng-model="entityView.entityId">
            </tb-entity-select>
        </section>
        <md-expansion-panel-group class="tb-entity-view-panel-group" ng-class="{'disabled': $root.loading || !isEdit}"
                                  auto-expand="true"
                                  multiple="true"
                                  md-component-id="attributesPanelGroup">
            <md-expansion-panel md-component-id="{{attributesPanelId}}">
                <md-expansion-panel-collapsed>
                    <div class="tb-panel-title">{{ 'entity-view.attributes-propagation' | translate }}</div>
                    <span flex></span>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-collapsed>
                <md-expansion-panel-expanded>
                    <md-expansion-panel-header ng-click="$mdExpansionPanel(attributesPanelId).collapse()">
                        <div class="tb-panel-title">{{ 'entity-view.attributes-propagation' | translate }}</div>
                        <span flex></span>
                        <md-expansion-panel-icon></md-expansion-panel-icon>
                    </md-expansion-panel-header>
                    <md-expansion-panel-content>
                        <div translate class="tb-hint">entity-view.attributes-propagation-hint</div>
                        <label translate class="tb-title no-padding">entity-view.client-attributes</label>
                        <md-chips style="padding-bottom: 15px;"
                                  ng-required="false"
                                  readonly="!isEdit"
                                  ng-model="entityView.keys.attributes.cs"
                                  placeholder="{{'entity-view.client-attributes-placeholder' | translate}}"
                                  md-separator-keys="separatorKeys">
                            <md-autocomplete
                                    md-no-cache="true"
                                    id="ca_datakey"
                                    md-selected-item="selectedAttributeDataKey"
                                    md-search-text="attributeDataKeySearchText"
                                    md-items="item in dataKeysSearch(attributeDataKeySearchText, types.dataKeyType.attribute)"
                                    md-item-text="item.name"
                                    md-min-length="0"
                                    placeholder="{{'entity-view.client-attributes-placeholder' | translate }}"
                                    md-menu-class="tb-attribute-datakey-autocomplete">
                                <span md-highlight-text="attributeDataKeySearchText"
                                      md-highlight-flags="^i">{{item}}</span>
                            </md-autocomplete>
                        </md-chips>
                        <label translate class="tb-title no-padding">entity-view.shared-attributes</label>
                        <md-chips style="padding-bottom: 15px;"
                                  ng-required="false"
                                  readonly="!isEdit"
                                  ng-model="entityView.keys.attributes.sh"
                                  placeholder="{{'entity-view.shared-attributes-placeholder' | translate}}"
                                  md-separator-keys="separatorKeys">
                            <md-autocomplete
                                    md-no-cache="true"
                                    id="sh_datakey"
                                    md-selected-item="selectedAttributeDataKey"
                                    md-search-text="attributeDataKeySearchText"
                                    md-items="item in dataKeysSearch(attributeDataKeySearchText, types.dataKeyType.attribute)"
                                    md-item-text="item.name"
                                    md-min-length="0"
                                    placeholder="{{'entity-view.shared-attributes-placeholder' | translate }}"
                                    md-menu-class="tb-attribute-datakey-autocomplete">
                                <span md-highlight-text="attributeDataKeySearchText"
                                      md-highlight-flags="^i">{{item}}</span>
                            </md-autocomplete>
                        </md-chips>
                        <label translate class="tb-title no-padding">entity-view.server-attributes</label>
                        <md-chips style="padding-bottom: 15px;"
                                  ng-required="false"
                                  readonly="!isEdit"
                                  ng-model="entityView.keys.attributes.ss"
                                  placeholder="{{'entity-view.server-attributes-placeholder' | translate}}"
                                  md-separator-keys="separatorKeys">
                            <md-autocomplete
                                    md-no-cache="true"
                                    id="ss_datakey"
                                    md-selected-item="selectedAttributeDataKey"
                                    md-search-text="attributeDataKeySearchText"
                                    md-items="item in dataKeysSearch(attributeDataKeySearchText, types.dataKeyType.attribute)"
                                    md-item-text="item.name"
                                    md-min-length="0"
                                    placeholder="{{'entity-view.server-attributes-placeholder' | translate }}"
                                    md-menu-class="tb-attribute-datakey-autocomplete">
                                <span md-highlight-text="attributeDataKeySearchText"
                                      md-highlight-flags="^i">{{item}}</span>
                            </md-autocomplete>
                        </md-chips>
                    </md-expansion-panel-content>
                </md-expansion-panel-expanded>
            </md-expansion-panel>
            <md-expansion-panel md-component-id="{{timeseriesPanelId}}">
                <md-expansion-panel-collapsed>
                    <div class="tb-panel-title">{{ 'entity-view.timeseries-data' | translate }}</div>
                    <span flex></span>
                    <md-expansion-panel-icon></md-expansion-panel-icon>
                </md-expansion-panel-collapsed>
                <md-expansion-panel-expanded>
                    <md-expansion-panel-header ng-click="$mdExpansionPanel(timeseriesPanelId).collapse()">
                        <div class="tb-panel-title">{{ 'entity-view.timeseries-data' | translate }}</div>
                        <span flex></span>
                        <md-expansion-panel-icon></md-expansion-panel-icon>
                    </md-expansion-panel-header>
                    <md-expansion-panel-content>
                        <div translate class="tb-hint">entity-view.timeseries-data-hint</div>
                        <label translate class="tb-title no-padding">entity-view.timeseries</label>
                        <md-chips ng-required="false"
                                  readonly="!isEdit"
                                  ng-model="entityView.keys.timeseries"
                                  placeholder="{{'entity-view.timeseries-placeholder' | translate}}"
                                  md-separator-keys="separatorKeys">
                            <md-autocomplete
                                    md-no-cache="true"
                                    id="timeseries_datakey"
                                    md-selected-item="selectedTimeseriesDataKey"
                                    md-search-text="timeseriesDataKeySearchText"
                                    md-items="item in dataKeysSearch(timeseriesDataKeySearchText, types.dataKeyType.timeseries)"
                                    md-item-text="item.name"
                                    md-min-length="0"
                                    placeholder="{{'entity-view.timeseries-placeholder' | translate }}"
                                    md-menu-class="tb-timeseries-datakey-autocomplete">
                                <span md-highlight-text="timeseriesDataKeySearchText"
                                      md-highlight-flags="^i">{{item}}</span>
                            </md-autocomplete>
                        </md-chips>
                    </md-expansion-panel-content>
                </md-expansion-panel-expanded>
            </md-expansion-panel>
        </md-expansion-panel-group>
        <section layout="row" layout-align="start start">
            <mdp-date-picker ng-model="startTimeMs"
                             mdp-max-date="maxStartTimeMs"
                             mdp-placeholder="{{ 'entity-view.start-date' | translate }}"></mdp-date-picker>
            <mdp-time-picker ng-model="startTimeMs"
                             mdp-max-date="maxStartTimeMs"
                             mdp-placeholder="{{ 'entity-view.start-ts' | translate }}"
                             mdp-auto-switch="true"></mdp-time-picker>
        </section>
        <section layout="row" layout-align="start start">
            <mdp-date-picker ng-model="endTimeMs"
                             mdp-min-date="minEndTimeMs"
                             mdp-placeholder="{{ 'entity-view.end-date' | translate }}"></mdp-date-picker>
            <mdp-time-picker ng-model="endTimeMs"
                             mdp-min-date="minEndTimeMs"
                             mdp-placeholder="{{ 'entity-view.end-ts' | translate }}"
                             mdp-auto-switch="true"></mdp-time-picker>
        </section>
        <md-input-container class="md-block">
            <label translate>entity-view.description</label>
            <textarea ng-model="entityView.additionalInfo.description" rows="2"></textarea>
        </md-input-container>
    </fieldset>
</md-content>
