<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-input-container class="md-block">
    <label translate>contact.country</label>
    <md-select ng-disabled="!isEdit" name="country" ng-model="contact.country">
        <md-option ng-repeat="country in countries" value="{{country}}">
            {{country}}
        </md-option>
    </md-select>
</md-input-container>
<div layout-gt-sm="row">
    <md-input-container class="md-block">
        <label translate>contact.city</label>
        <input name="city" ng-model="contact.city">
    </md-input-container>
    <md-input-container class="md-block">
        <label translate>contact.state</label>
        <input name="state" ng-model="contact.state">
    </md-input-container>
    <md-input-container class="md-block">
        <label translate>contact.postal-code</label>
        <input name="zip" ng-model="contact.zip" ng-pattern="postalCodePatterns[contact.country]">
        <div ng-messages="theForm.zip.$error" role="alert" multiple>
            <div translate ng-message="pattern">contact.postal-code-invalid</div>
        </div>
    </md-input-container>
</div>
<md-input-container class="md-block">
    <label translate>contact.address</label>
    <input name="address" ng-model="contact.address">
</md-input-container>
<md-input-container class="md-block">
    <label translate>contact.address2</label>
    <input name="address2" ng-model="contact.address2">
</md-input-container>
<md-input-container class="md-block">
    <label translate>contact.phone</label>
    <input name="phone" ng-model="contact.phone">
</md-input-container>
<md-input-container class="md-block">
    <label translate>contact.email</label>
    <input name="email" type="text"
           ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\_\-0-9]+\.)+[a-zA-Z]{2,}))$/'
           ng-model="contact.email">
</md-input-container>
