/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "~compass-sass-mixins/lib/compass";

div.tb-widget {
  position:   relative;
  height:     100%;
  margin:     0;
  overflow:   hidden;
  outline:    none;

  transition: all .2s ease-in-out;

  .tb-widget-title {
    max-height:   60px;

    padding-top:  5px;
    padding-left: 5px;
    overflow:     hidden;

    tb-timewindow {
      font-size: 14px;
      opacity:   .85;
      }
    }

  .tb-widget-actions {
    position: absolute;
    top:      8px;
    right:    8px;
    z-index:  19;
    margin:   0;

    .md-button.md-icon-button {
      width:       32px;
      min-width:   32px;
      height:      32px;
      min-height:  32px;
      padding:     0 !important;
      margin:      0 !important;
      line-height: 20px;

      md-icon,
      ng-md-icon {
        width:      20px;
        min-width:  20px;
        height:     20px;
        min-height: 20px;
        font-size:  20px;
        }
      }
    }

  .tb-widget-content {
    tb-widget {
      position: relative;
      width:    100%;
      }
    }
  }

div.tb-widget.tb-highlighted {
  border:     1px solid #039BE5;
  box-shadow: 0 0 20px #039BE5;
  }

div.tb-widget.tb-not-highlighted {
  opacity: .5;
  }

tb-dashboard {
  position: absolute;
  top:      0;
  right:    0;
  bottom:   0;
  left:     0;
  }

md-content.tb-dashboard-content {
  position:   absolute;
  top:        0;
  right:      0;
  bottom:     0;
  left:       0;
  background: none;
  outline:    none;

  .gridster-item {
    transition: none;
    }
  }

.tb-widget-error-container {
  position:         absolute;
  width:            100%;
  height:           100%;
  background-color: #FFF;
  }

.tb-widget-error-msg {
  padding:   5px;
  font-size: 16px;
  color:     #F00;
  word-wrap: break-word;
  }
