/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.tb-datasource {
  #entity-autocomplete {
    height:     30px;
    margin-top: 18px;

    md-autocomplete-wrap {
      height: 30px;
      }

    input,
    input:not(.md-input) {
      height: 30px;
      }
    }
  }

@mixin tb-checkered-bg() {
  background-color:    #FFF;
  background-image:    linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD),
                       linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD);
  background-position: 0 0, 4px 4px;
  background-size:     8px 8px;
  }

.tb-color-preview {
  position:      relative;
  width:         24px;
  min-width:     24px;
  height:        24px;
  overflow:      hidden;
  content:       "";
  border:        2px solid #FFF;
  border-radius: 50%;
  box-shadow:    0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);

  @include tb-checkered-bg();

  .tb-color-result {
    width:  100%;
    height: 100%;
    }
  }

.tb-attribute-chip {
  .tb-chip-label {
    overflow:      hidden;
    text-overflow: ellipsis;
    white-space:   nowrap;
    }

  .tb-chip-separator {
    white-space: pre;
    }
  }
