/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../scss/constants";

.tb-details-title {
  width:          inherit;
  margin:         20px 8px 0 0;
  overflow:       hidden;
  font-size:      1rem;
  font-weight:    400;
  text-overflow:  ellipsis;
  text-transform: uppercase;
  white-space:    nowrap;

  @media (min-width: $layout-breakpoint-gt-sm) {
    font-size: 1.6rem;
    }
  }

.tb-details-subtitle {
  width:         inherit;
  margin:        10px 0;
  overflow:      hidden;
  font-size:     1rem;
  text-overflow: ellipsis;
  white-space:   nowrap;
  opacity:       .8;
  }

md-sidenav.tb-sidenav-details {
  .md-toolbar-tools {
    height:     100%;
    min-height: 100px;
    max-height: 120px;
    }
  z-index:   59 !important;
  width:     100% !important;
  max-width: 100% !important;

  @media (min-width: $layout-breakpoint-gt-sm) {
    width: 80% !important;
    }

  @media (min-width: $layout-breakpoint-gt-md) {
    width: 65% !important;
    }

  tb-dashboard {
    md-content {
      background-color: $primary-hue-3;
      }
    }
  }
