/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../scss/constants";

.tb-fullscreen {
  position: fixed !important;
  top:      0;
  left:     0;
  width:    100% !important;
  height:   100% !important;

  section.header-buttons {
    top: 25px;
    }
  }

.tb-fullscreen-parent {
  position:         fixed;
  top:              0;
  left:             0;
  width:            100%;
  height:           100%;
  background-color: $gray;
  }

.md-button.tb-fullscreen-button-style,
.tb-fullscreen-button-style {
  background: #CCC;
  opacity:    .85;

  ng-md-icon {
    color: #666;
    }
  }

.md-button.tb-fullscreen-button-pos,
.tb-fullscreen-button-pos {
  position: absolute;
  top:      10px;
  right:    10px;
  }
