/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "~compass-sass-mixins/lib/animate";

.tb-uppercase {
  text-transform: uppercase;
  }

.tb-card-item {
  transition: all .2s ease-in-out;

  md-card-content {
    max-height:  53px;
    padding-top: 0;
    }

  md-card-title {
    width: 100%;

    md-card-title-text {
      min-width:  50%;
      max-height: 32px;

      .md-headline {
        overflow:      hidden;
        text-overflow: ellipsis;
        white-space:   nowrap;
        }
      }
    }
  }

.tb-current-item {
  opacity:   .5;

  transform: scale(1.05);
  }

#tb-vertical-container {
  position: absolute;
  top:      0;
  right:    0;
  bottom:   0;
  left:     0;
  }
