/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

tb-js-func {
  position: relative;

  .tb-disabled {
    color: rgba(0, 0, 0, .38);
    }

  .fill-height {
    height: 100%;
    }
  }

.tb-js-func-toolbar {
  .md-button.tidy {
    min-width:   32px;
    min-height:  15px;
    padding:     4px;
    margin:      0 5px 0 0;
    font-size:   .8rem;
    line-height: 15px;
    color:       #7B7B7B;
    background:  rgba(220, 220, 220, .35);
    }
  }

.tb-js-func-panel {
  height:      calc(100% - 80px);
  margin-left: 15px;
  border:      1px solid #C0C0C0;

  #tb-javascript-input {
    width:     100%;
    min-width: 200px;
    height:    100%;

    &:not(.fill-height) {
      min-height: 200px;
      }
    }
  }
