/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

tb-json-object-edit {
  position: relative;

  .fill-height {
    height: 100%;
    }
  }

.tb-json-object-panel {
  height:      100%;
  margin-left: 15px;
  border:      1px solid #C0C0C0;

  #tb-json-input {
    width:     100%;
    min-width: 200px;
    height:    100%;

    &:not(.fill-height) {
      min-height: 200px;
      }
    }
  }
