/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

table.tb-legend {
  width:     100%;
  font-size: 12px;

  .tb-legend-header,
  .tb-legend-value {
    text-align: right;
    }

  .tb-legend-header {
    th {
      padding:     0 10px 1px 0;
      color:       rgb(255, 110, 64);
      white-space: nowrap;
      }
    }

  .tb-legend-keys {
    td.tb-legend-label,
    td.tb-legend-value {
      padding:     2px 10px;
      white-space: nowrap;
      }

    .tb-legend-line {
      display:        inline-block;
      width:          15px;
      height:         3px;
      vertical-align: middle;
      }

    .tb-legend-label {
      text-align: left;
      outline:    none;

      &.tb-horizontal {
        width: 95%;
        }

      &.tb-hidden-label {
        text-decoration: line-through;
        opacity:         .6;
        }
      }
    }
  }
