/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.tb-material-icons-dialog {
  button.md-icon-button.tb-select-icon-button {
    width:         56px;
    height:        56px;
    padding:       16px;
    margin:        10px;
    border:        solid 1px #FFA500;
    border-radius: 0%;
    }

  .tb-icons-load {
    top:        64px;
    z-index:    3;
    background: rgba(255, 255, 255, .75);
    }
  }
