<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-dialog class="tb-material-icons-dialog" aria-label="{{'icon.material-icons' | translate }}"
           style="min-width: 600px;">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ 'icon.select-icon' | translate }}</h2>
                <span flex></span>
                <section layout="row" layout-align="start center">
                    <md-switch ng-model="vm.showAll"
                               aria-label="{{ 'icon.show-all' | translate }}">
                    </md-switch>
                    <label translate>icon.show-all</label>
                </section>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <ng-md-icon icon="close" aria-label="{{ 'action.close' | translate }}"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear class="md-warn" md-mode="indeterminate" ng-disabled="!$root.loading"
                            ng-show="$root.loading"></md-progress-linear>
        <span style="min-height: 5px;" flex="" ng-show="!$root.loading"></span>
        <div class="tb-absolute-fill tb-icons-load" ng-show="vm.loadingIcons" layout="column"
             layout-align="center center">
            <md-progress-circular md-mode="indeterminate" ng-disabled="!vm.loadingIcons" class="md-accent"
                                  md-diameter="40"></md-progress-circular>
        </div>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content class="md-padding" layout="column">
                    <fieldset ng-disabled="$root.loading">
                        <md-button ng-class="{'md-primary md-raised': icon == vm.selectedIcon}"
                                   class="tb-select-icon-button md-icon-button"
                                   ng-repeat="icon in vm.icons" ng-click="vm.selectIcon($event, icon)"
                                   tb-on-finish-render="iconsLoadFinished">
                            <md-icon class="material-icons">{{icon}}</md-icon>
                            <md-tooltip md-direction="bottom">
                                {{ icon }}
                            </md-tooltip>
                        </md-button>
                    </fieldset>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="$root.loading" ng-click="vm.cancel()">
                {{ 'action.cancel' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
