<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<md-button
        ui-sref-active-eq="tb-active" ui-sref="{{section.state}}"
        class="md-button-toggle"
        aria-controls="docs-menu-{{section.name | nospace}}" layout="row"
        aria-expanded="{{sectionActive()}}">
    <md-icon ng-show="section.icon != null" aria-label="{{section.icon}}" class="material-icons">{{section.icon}}
    </md-icon>
    <span flex>{{section.name | translate}}</span>
    <span aria-hidden="true"
          class=" pull-right fa fa-chevron-down md-toggle-icon"
          ng-class="{'tb-toggled' : sectionActive()}"></span>
</md-button>
<ul id="docs-menu-{{section.name | nospace}}" class="tb-menu-toggle-list" ng-style="{height: sectionHeight()}">
    <li ng-repeat="page in section.pages">
        <tb-menu-link section="page"></tb-menu-link>
    </li>
</ul>
