<!--

    Copyright © 2016-2018 The Thingsboard Authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<section layout="row">
    <section layout="column" flex ng-show="advanced">
        <label class="tb-small" translate>{{ predefinedName }}</label>
        <section layout="row" layout-align="start start" flex>
            <md-input-container>
                <label translate>timeinterval.days</label>
                <input type="number" ng-model="days" step="1" aria-label="{{ 'timeinterval.days' | translate }}">
            </md-input-container>
            <md-input-container>
                <label translate>timeinterval.hours</label>
                <input type="number" ng-model="hours" step="1" aria-label="{{ 'timeinterval.hours' | translate }}">
            </md-input-container>
            <md-input-container>
                <label translate>timeinterval.minutes</label>
                <input type="number" ng-model="mins" step="1" aria-label="{{ 'timeinterval.minutes' | translate }}">
            </md-input-container>
            <md-input-container>
                <label translate>timeinterval.seconds</label>
                <input type="number" ng-model="secs" step="1" aria-label="{{ 'timeinterval.seconds' | translate }}">
            </md-input-container>
        </section>
    </section>
    <section layout="row" flex ng-show="!advanced">
        <md-input-container flex>
            <label translate>{{ predefinedName }}</label>
            <md-select ng-model="intervalMs" style="min-width: 150px;" aria-label="predefined-interval">
                <md-option ng-repeat="interval in intervals" ng-value="interval.value">
                    {{interval.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </section>
    <section layout="column" layout-align="center center">
        <label class="tb-small advanced-label" translate>timeinterval.advanced</label>
        <md-switch class="advanced-switch" ng-model="advanced" aria-label="predefined-switcher">
        </md-switch>
    </section>
</section>
