/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "../../scss/mixins";

tb-widgets-bundle-select {
  md-select {
    padding: 5px 20px;
    margin:  0;
    }

  .tb-bundle-item {
    height:      24px;
    line-height: 24px;
    }
  }

.tb-widgets-bundle-select {
  .tb-bundle-item {
    height:      48px;
    line-height: 48px;
    }
  }

tb-widgets-bundle-select,
.tb-widgets-bundle-select {
  .md-text {
    display: block;
    width:   100%;
    }

  .tb-bundle-item {
    display: inline-block;
    width:   100%;

    span {
      display:        inline-block;
      vertical-align: middle;
      }

    .tb-bundle-system {
      float:     right;
      font-size: .8rem;
      opacity:   .8;
      }
    }

  md-option {
    height:      auto !important;
    white-space: normal !important;
    }
  }

md-toolbar {
  tb-widgets-bundle-select {
    md-select {
      background: rgba(255, 255, 255, .2);

      .md-select-value {
        font-size: 1.2rem;
        color:     #FFF;

        span:first-child::after {
          color: #FFF;
          }
        }

      .md-select-value.md-select-placeholder {
        color:   #FFF;
        opacity: .8;
        }
      }

    md-select.ng-invalid.ng-touched {
      .md-select-value {
        color: #FFF !important;
        }
      }
    }
  }
