/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "~compass-sass-mixins/lib/animate";

.tb-invisible {
  display: none !important;
  }

.tb-primary-toolbar {
  h1 {
    font-size:   24px !important;
    font-weight: 400 !important;
    }
  }

.tb-breadcrumb {
  font-size:   18px !important;
  font-weight: 400 !important;

  h1,
  a,
  span {
    overflow:      hidden;
    text-overflow: ellipsis;
    white-space:   nowrap;
    }

  a {
    border:     none;
    opacity:    .75;

    transition: opacity .35s;
    }

  a:hover,
  a:focus {
    text-decoration: none !important;
    border:          none;
    opacity:         1;
    }

  .divider {
    padding: 0 30px;
    }
  }

md-sidenav.tb-site-sidenav {
  width: 250px;
  }

md-icon.tb-logo-title {
  width:  200px;
  height: 36px;
  }

.tb-nav-header {
  z-index:     2;
  flex-shrink: 0;
  white-space: nowrap;
  }

.tb-nav-header-toolbar {
  z-index:       2;
  flex-shrink:   0;
  white-space:   nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, .12);

  .md-toolbar-tools {
    flex-basis: auto;
    }
  }

.tb-side-menu-toolbar {
  overflow-y: auto;
  }

.tb-entity-subtype-search {
  margin-top: 15px;
  }

.tb-entity-search {
  margin-top: 34px;
  }
