/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

div.tb-user-info {
  line-height: 1.5;

  span {
    text-align:     left;
    text-transform: none;
    }

  span.tb-user-display-name {
    font-size:      .8rem;
    font-weight:    300;
    letter-spacing: .008em;
    }

  span.tb-user-authority {
    font-size:      .8rem;
    font-weight:    300;
    letter-spacing: .005em;
    opacity:        .8;
    }
  }

md-icon.tb-mini-avatar {
  width:     36px;
  height:    36px;
  margin:    auto 8px;
  font-size: 36px;
  }
