/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.extension-form {
  li > .md-button {
    margin: 0;
    color:  rgba(0, 0, 0, .7);
    }

  .vAccordion--default {
    padding-left: 3px;
    margin-top:   0;
    }

  .tb-container {
    width: 100%;
    }

  .dropdown-messages {
    .tb-error-message {
      padding: 5px 0 0 0;
      }
    }

  .dropdown-section {
    margin-bottom: 30px;
    }

  v-pane.inner-invalid > v-pane-header {
    border-bottom: 2px solid rgb(221, 44, 0);
    }
  }

.extension-form.extension-mqtt {
  md-checkbox {
    margin-left: 10px;
    }
  }

.tb-extension-custom-transformer-panel {
  height:      100%;
  margin-left: 15px;
  border:      1px solid #C0C0C0;

  .tb-extension-custom-transformer {
    width:      100%;
    min-width:  600px;
    height:     100%;
    min-height: 200px;
    }

  .ace_text-input {
    position: absolute !important;
    }
  }

.extensionDialog {
  min-width: 1000px;
  }

.tb-container-for-select {
  height: 58px;
  }

.tb-drop-file-input-hide {
  position: absolute;
  bottom:   0;
  display:  block;
  width:    100%;
  height:   200%;
  }
