/**
 * Copyright © 2016-2018 The Thingsboard Authors
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.tb-relation-filters {
  .header {
    padding-right:  5px;
    padding-bottom: 5px;
    padding-left:   5px;

    .cell {
      padding-right: 5px;
      padding-left:  5px;
      font-size:     12px;
      font-weight:   700;
      color:         rgba(0, 0, 0, .54);
      white-space:   nowrap;
      }
    }

  .body {
    max-height:     300px;
    padding-right:  5px;
    padding-bottom: 20px;
    padding-left:   5px;
    overflow:       auto;

    .row {
      padding-top: 5px;
      }

    .cell {
      padding-right: 5px;
      padding-left:  5px;

      md-select {
        margin: 0 0 24px;
        }

      md-input-container {
        margin: 0;
        }

      md-chips-wrap {
        padding: 0;
        margin:  0 0 24px;

        md-autocomplete {
          height: 30px;

          md-autocomplete-wrap {
            height: 30px;
            }
          }
        }

      .md-chips .md-chip-input-container input {
        height:      26px;
        padding:     2px 2px 2px;
        line-height: 26px;
        }
      }

    .md-button {
      margin: 0;
      }
    }
  }
